MINECRAFT_VERSION={{ minecraft_version }}
LOADER={{ loader }}
LOADER_VERSION={{ loader_version | default('') }}
SERVER_PORT={{ server_port }}
XMS={{ xms }}
XMX={{ xmx }}
JAVA_BIN={{ java_bin_path | default('/usr/bin/java') }}
