motd={{ motd | default('Minecraft Server') }}
server-port={{ server_port }}
online-mode={{ online_mode | default('true') }}
enable-command-block={{ enable_command_block | default('false') }}
gamemode={{ gamemode | default('survival') }}
difficulty={{ difficulty | default('normal') }}
white-list={{ white_list | default('false') }}
max-players={{ max_players | default('20') }}
view-distance={{ view_distance | default('10') }}
simulation-distance={{ simulation_distance | default('10') }}
level-name={{ level_name | default('world') }}
allow-flight={{ allow_flight | default('false') }}
pvp={{ pvp | default('true') }}
enable-rcon={{ enable_rcon | default('false') }}
enable-query={{ enable_query | default('false') }}
